@import url('bootstrap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card{
  width: 18rem;
  display: flex;
  min-height: 750px;
  border: solid 2px;
  background-color: lightskyblue
}
h5{
  display: flex;
  justify-content: center;
}